{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <br>
    <link rel="stylesheet" href="static/Styles1.css">
    <!DOCTYPE html>
<html>
<head>
  <title>Bienvenue sur notre site web</title>

  <link rel="stylesheet" href="static/Style.css">
</head>

    <body>
      <body>
        <div class="onglets">
          <a href="#products">Nos produits</a>
          <a href="#contacts">Contactez nous</a> 
      </div>
        <center><h1>Bienvenue sur notre site</h1></center> 
        <center><p>Nous sommes heureux que vous soyez ici!</p></center>
        <header>
            <center><h1> VIRTUAL</h1></center>
            
            
        </header>
        <section class="main" id="products">
          <div class="content">
            <div class="card">
            <div class="left">
              <h1> Bienvenue</h1>
              <p>
                    </p>
            </div>
            <div class="right">
              <img src="static/c4.jpg" alt="hi">
              <img src="static/c5.jpg" alt="hi">
              
            </div>
          </div>


          <div class="content">
            <div class="card">
            <div class="left">
              <h1>Conçu pour les écoles </h1>
              <p>Conçus pour les étudiants de tous âges, les casques ClassVR sont livrés avec des sangles de tête réglables pour une expérience utilisateur confortable.
                    </p>
            </div>
            <div class="right">
              <img src="static/c10.jpg" alt="hi">
              <img src="static/c11.jpg" alt="hi">
              
            </div>
          </div>

          <div class="content">
            <div class="card">
            <div class="left">
              <h1>Contrôles conviviaux</h1>
              <p>Nos casques ClassVR sont livrés avec un contrôleur portable filaire afin que les étudiants puissent facilement contrôler et naviguer dans l’interface du casque, explorer des scènes virtuelles et interagir avec le contenu VR et AR.
                    </p>
            </div>
            <div class="right">
              <img src="static/big2.jpg" alt="hi">
              <img src="static/c13.jpg" alt="hi">
            </div>
          </div>

          <div class="content">
            <div class="card">
            <div class="left">
              <h1>Sûr et sécurisé</h1>
              <p>Les élèves peuvent uniquement accéder au contenu que l’enseignant a créé et téléchargé sur le casque. Cela garantit que les élèves restent concentrés et que les enseignants gardent le contrôle, le tout dans un environnement d’apprentissage sûr.
                    </p>
            </div>
            <div class="right">
              <img src="static/img3.jpg" alt="hi">
              <img src="static/img4.jpg" alt="hi">
              
            </div>
          </div>
          
          <div class="content">
            <div class="card">
            <div class="left">
              <h1> Interface simple à utiliser</h1>
              <p>ClassVR a été conçu pour fournir une interface passionnante, engageante, mais simple à utiliser pour permettre aux étudiants et aux enseignants d’accéder facilement au contenu éducatif VR avec un minimum de tracas et sans distractions.
              </p>
            </div>
            <div class="right">
              <img src="static/img8.jpg" alt="hi">
              <img src="static/img10.jpg" alt="hi">
              
            </div>
          </div>

    
            <div class="card">
                <div class="left">
                  <h1> PROJET</h1>
                  <p>Ce projet est issu d’un laboratoire de recherche à l’Université du Maine, USA. Le concept de la Virtual Reality Motion Platform est d’ajouter à la réalité virtuelle une sensation de résistance lors des différentes expériences. Les ingénieurs prennent pour exemple les simulateurs de conduites.
                        </p>
                </div>
                <div class="right">
                  <img src="static/img11.jpg" alt="hi">
                  <img src="static/big1.jpg" alt="hi">
                </div>
              </div>
        </div>
        </section>
        <footer>
          <center><h1>NOS SERVICES</h1></center>
          <div class="services">
            <div class="service">
              <h3>Livraison gratuite</h3>
              <p>Nos Happiness Engineers sont toujours prêt∙e∙s à vous aider. Messagerie instantanée, conseils d’expert∙e∙s par e-mail, forums animés par notre communauté dynamique : nous sommes là pour vous aider à atteindre vos objectifs, qu’il s’agisse de résoudre un plantage ou simplement de vous accompagner dans la configuration de votre casque virtuelle.
                 </p> 
            </div>
            <div class="service">
              <h3>paiement en ligne</h3>
              <p>Personnel : 4$US  Performance
                Réseau CDN mondial avec plus de 28 emplacements.
                Bursting de processeur très évolutif.
                CPU haute fréquence et ultra rapides.$US ad veritatis totam minus doloribus veniam.
                 </p>
            </div>
            <div class="service">
              <h3>Aimé ou rembourser</h3>
              <p>En cas d'achat sur internet, la loi prévoit que le consommateur dispose d'un droit de rétractation qui lui permet de changer d'avis et de revenir sur son achat. Il doit alors exercer son droit de rétractation dans un délai de 14 jours et ce sans avoir à justifier de motifs ni à payer de pénalités, à l'exception, le cas échéant, des frais de retour.
                 </p>
            </div>

          </div>
          <p id="contacts"> contacts : 228 90 15 28 28 / 228 96 50 50 18 address: 13BP--BOULEVARD EYADEMA</p>
        </footer>
    </body>
    </html>
 
</body>
</html>
    {% endblock %}