{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block content %}
    <br><br><br><br><br>
   <head> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
   </head>
    <body>
    <link rel="stylesheet" href="static/Styles.css">
    <form action="" method="POST">
      <h2 align="center">Sign Up</h2>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input  type="email"  class="form-control"  id="email"  name="email"  placeholder="Enter email"
        />
      </div>
      
      <div class="form-group">
        <label for="Name">Name</label>
        <input  type="text"  class="form-control"  id="name"  name="Name"  placeholder="Enter  name" />
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input   type="text"   class="form-control"   id="firstName"   name="firstName"   placeholder="Enter first name"/>
      </div>
     
      <div class="form-group">
        <label for="password1">Password</label>
        <input type="password" class="form-control" id="password1"  name="password1"  placeholder="Enter password"/>
      </div>
      <div class="form-group">
        <label for="password2">Password (Confirm)</label>
        <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm password" />
      </div>
      <br/>
      <center><button type="submit" class="btn btn-primary">register</a></button></center><br>
      <p> vous avez deja un compte?<a href="/login"  class="se_coonecterBtn" >se connecter</a></p> 
    </form>
  </body>
{% endblock %}